/5_Applicativo/FruitNinjaWebcam/nbproject/private/
/5_Applicativo/FruitNinjaWebcam/build/
/5_Applicativo/JavaApplication3/nbproject/private/
/5_Applicativo/FruitNinjaWebcam/dist/
/5_Applicativo/FruitNinjaWebCam_v2/nbproject/private/
/5_Applicativo/JavaApplication5/nbproject/private/
